<%- include('templates/header') %>

<div class="container text-center mt-5">
  <% if (user) { %>
    <h1>Welcome back, <%= user.name %></h1>
    <a href="/members" class="btn btn-primary mt-3">Members Area</a>
    <a href="/logout" class="btn btn-danger mt-3">Logout</a>
  <% } else { %>
    <a href="/signup" class="btn btn-success me-2">Sign Up</a>
    <a href="/login" class="btn btn-primary">Login</a>
  <% } %>
</div>

<%- include('templates/footer') %>