<%- include('templates/header') %>

<div class="container text-center mt-5">
  <h1>Members Area</h1>
  <h3>Hello <%= user.name %></h3>

  <div class="row justify-content-center g-3 mt-4">
    <% images.forEach(img => { %>
      <div class="col-md-4 col-sm-6">
        <img src="/<%= img %>" class="img-fluid rounded">
      </div>
    <% }) %>
  </div>

  <a href="/logout" class="btn btn-danger mt-4">Logout</a>
</div>

<%- include('templates/footer') %>